/*CSS for NoviNet main page*/

/*should scale site for Win users and mobile visits*/
@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
@-ms-viewport {
  width: device-width ;
} 

.grid{
	display: grid;
	grid-template: 5% 5% 85% 5% / 35% 65%;
	width: 80%;
	margin-left: 5%;	
}

.bluebanner{
	/*CSS for blue banner bar*/
	color: blue;
	grid-area: 1 / 2 / span 1 / span 1;
	font-family: Arial;
	font-size: 10pt;
	}
.purpbanner{
	/*CSS for purple banner bar*/
	color: purple;
	grid-area: 2 / 2 / span 1 / span 1;
	font-family: Arial;
	font-size: 10pt;
		}
.sloganwrapper{ /* wrapper for sloganized area on index.html */
	grid-area: 3 / 1 / span 1 / span 2;
	height: 600px;
	margin-top: 50px;
	margin-left: 120px;
	position: center;
	background: url(background.jpg), linear-gradient(#7a0bc4, #bd7de8);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid black;
	}

/* CSS to style content on content pages */
.contentwrapper{
	grid-area: 3 / 1 / span 1 / span 2;
	height: 600px;
	margin-top: 50px;
	margin-left: 120px;
	position: center;
	background: linear-gradient(#7a0bc4, #bd7de8);
	border: 1px solid black;
	font-family: Arial;
	font-size: 14pt;
	color: #534d59
}

.logoplacehold{
	grid-area: 1 / 1 / span 2 / span 1;
	padding-left: 120px;
	}

/*CSS to make link lists in banner bar display properly*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
li {
	display: inline;
	float: right;
	padding: 10px;
}
#slogan{
	font-family: Arial;
	font-size: 16pt;
	font-style: oblique;
	color: white;
	padding: 10px;
	margin: 5px;
	margin-left: 40px;
	}
#logo{
	font-family: Arial;
	font-size: 18pt;
	margin: 5px;
	padding: 10px;
	color: #501577;
}
.learnmore{
	grid-area: 3 / 1 / span 2 / span 2;
	text-align: center;
	margin-top: 400px;
		}
#ctrbtn { /*for the Learn More button in the center*/
	font-family: Arial;
	font-size: 14pt;
	font-style: oblique;
	color: white;
	padding: 10px 50px 10px 50px;
	border: 1px solid white;
	border-radius: 2px;
	background: linear-gradient(#134ead, #3c6bb7);
	}
.btmpg{ /* for page footer */
	grid-area: 4 / 1 / span 1 / span 2;
	font-family: Arial;
	font-size: 10pt;
	color: #7477aa;
	padding: 10px;
	margin-left: 120px;
}
#hmbtn{
	border: 1px solid #501577;
	border-radius: 2px;
	}
h2{
	padding: 5px;
	color: white;
	}
.contentwrapper p{
	padding: 2px;
	color: /*#b4adba;*/ #ffffff;
	margin-left: 5px;
	}
#lrnmr{
	float: right;
	padding: 10px;
}